<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>HaVu Studios</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/user/homebody.css}">
    <link rel="stylesheet" th:href="@{/css/user/menuNav.css}">
    <link rel="stylesheet" th:href="@{/css/user/product-style.css}">
    <link rel="stylesheet" th:href="@{/css/user/cart.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/customerAccount/accInfo.css}">
</head>
</html>