<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragment/head :: head}">
</head>
<body>
    <div th:replace="~{fragment/header :: header}"></div>

    <div th:replace="~{home/slider :: homeslider}"></div>

    <div th:replace="~{home/category :: category}"></div>

    <div th:replace="~{home/flashsale :: flashsale}"></div>

    <div th:replace="~{home/producthot :: producthot}"></div>

    <div th:replace="~{home/imagetext2 :: imgtext2}"></div>

    <div th:replace="~{home/instagram :: sectionInsta}"></div>

    <div th:replace="~{fragment/footer :: footer}"></div>

    <script src="/static/js/quickProduct.js"></script>
</body>
</html>