<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="section-category" th:fragment="category">
    <div class="container border-0">
      <h2 class="heading-bar__title">Danh mục</h2>
      <div class="ss_body">
        <div class="mx-0 hrz-scroll text-center flex-nowrap js-slider justify-content-around slick-initialized slick-slider">
          <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track">
              <div class="ss_item style2 slick-slide slick-current slick-active">
                <a href="" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/vn-11134207-7r98o-lp0netx6jd5ae8@resize_ss200x200.webp"
                              width="200"
                              height="200"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Đầm/Váy</div>
                  </div>
                </a>
              </div>
              <div class="ss_item style2 slick-slide slick-active">
                <a href="" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/vn-11134207-7r98o-lofm2bmx5l87c4@resize_ss200x200.webp "
                              width="200"
                              height="200"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Đồ truyền thống</div>
                  </div>
                </a>
              </div>
              <div class="ss_item style2 slick-slide slick-active">
                <a href="/do-the-thao" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/b7f997dffb335277d995f68783f99cc9@resize_ss200x200"
                              width="200"
                              height="200"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Chân váy</div>
                  </div>
                </a>
              </div>
              <div class="ss_item style2 slick-slide slick-active">
                <a href="" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/vn-11134207-7r98o-lmvhzfrs3e8vcc@resize_ss200x200.webp"
                              width="200"
                              height="200"
                              alt="season_coll_4_img.png"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Bộ</div>
                  </div>
                </a>
              </div>
              <div class="ss_item style2 slick-slide slick-active">
                <a href="/do-ngu" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/sg-11134201-22120-osx7psv1ekkve9@resize_ss200x200.webp"
                              width="200"
                              height="200"
                              alt="season_coll_5_img.png"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Áo khoác, áo choàng & Vest</div>
                  </div>
                </a>
              </div>
              <div class="ss_item style2 slick-slide slick-active">
                <a href="" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/d1470db13c386434ba1a5f09b581e61d@resize_ss200x200"
                              width="200"
                              height="200"
                              alt="season_coll_6_img.png"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Quần</div>
                  </div>
                </a>
              </div>

              <div class="ss_item style2 slick-slide slick-active">
                <a href="" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/vn-11134207-7r98o-lmeycudv38pr07@resize_ss200x200.webp"
                              width="200"
                              height="200"
                              alt="season_coll_6_img.png"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Phụ kiện</div>
                  </div>
                </a>
              </div>
              <div class="ss_item style2 slick-slide slick-active">
                <a href="" tabindex="0">
                  <div class="ss_img">
                    <picture>
                      <img
                              class="img-fluid m-auto object-contain mh-100 w-auto"
                              src="https://down-ws-vn.img.susercontent.com/e72541ad650f7d35d8def1cfa39e6a77@resize_ss200x200"
                              width="200"
                              height="200"
                              alt="season_coll_6_img.png"
                      />
                    </picture>
                  </div>
                  <div class="ss_info">
                    <div class="ss_name">Khác</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</body>
</html>