<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="section awe-section-12" th:fragment="imgtext2">
    <section class="section_imgtext section style2">
        <div class="container border-0">
            <div class="imgtext_body">
                <a
                        class="imgtext_img"
                        href=""
                        title="Xu hướng thời trang 2024"
                >
                    <picture>
                        <source
                                media="(max-width: 991px)"
                                srcset="//bizweb.dktcdn.net/thumb/large/100/448/042/themes/910197/assets/imgtext_2_img.jpg?1691718307047"/>
                        <img
                                class="img-fluid mx-auto"
                                src="//bizweb.dktcdn.net/100/448/042/themes/910197/assets/imgtext_2_img.jpg?1691718307047"
                                width="795"
                                height="475"
                                alt="imgtext_img"
                        />
                    </picture>
                </a>

                <div class="imgtext_content_wrap">
                    <div class="imgtext_content">
                        <h3 class="imgtext-title">Xu hướng thời trang 2024</h3>
                        <p class="imgtext-desc">
                            Khoe eo! Mùa Hè mang đến lời mời gọi hãy để chiếc eo thon là
                            tâm điểm phong cách. BST Miu Miu ngập tràn crop top với hơi
                            hướng Y2K đầy sức sống. Versace cũng cho thấy làn da rám nắng
                            tuyệt đẹp khi diện crop top mang dấu ấn thập niên 80. Và crop
                            top còn được thấy ở khắp các BST thời trang mùa Xuân – Hè 2022
                            của Chanel, Salvatore Ferragamo, Givenchy, Lanvin,…
                        </p>
                        <a class="link" href="">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>