<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="section_instagram" th:fragment="sectionInsta">
    <div class="container">
        <h2 class="title-module">
            Theo dõi instagram của chúng tôi
        </h2>
        <a href="https://www.instagram.com/havu_studios/" class="link">@havu_studios</a>

        <div class="instagram-swiper swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide-img">
                    <div class="thumb-image">
                        <img width="250" height="250" src="https://bizweb.dktcdn.net/100/494/385/themes/919262/assets/image_ins_1.png?1698915077821" alt="">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>

                <div class="swiper-slide-img">
                    <div class="thumb-image">
                        <img width="250" height="250" src="https://bizweb.dktcdn.net/100/494/385/themes/919262/assets/image_ins_2.png?1698915077821" alt="">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>

                <div class="swiper-slide-img">
                    <div class="thumb-image">
                        <img width="250" height="250" src="https://bizweb.dktcdn.net/100/494/385/themes/919262/assets/image_ins_3.png?1698915077821" alt="">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>

                <div class="swiper-slide-img">
                    <div class="thumb-image">
                        <img width="250" height="250" src="https://bizweb.dktcdn.net/100/494/385/themes/919262/assets/image_ins_4.png?1698915077821" alt="">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>

                <div class="swiper-slide-img">
                    <div class="thumb-image">
                        <img width="250" height="250" src="https://bizweb.dktcdn.net/100/494/385/themes/919262/assets/image_ins_5.png?1698915077821" alt="">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>